@font-face {
  font-family: 'Lora';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/lora-regular/Lora-Regular.eot');
  src: url('../assets/fonts/lora-regular/Lora-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lora-regular/Lora-Regular.woff') format('woff'),
    url('../assets/fonts/lora-regular/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('../assets//fonts/oxygen-regular/Oxygen-Regular.eot');
  src: url('../assets//fonts/oxygen-regular/Oxygen-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/oxygen-regular/Oxygen-Regular.woff') format('woff'), url('../assets/fonts/oxygen-regular/Oxygen-Regular.ttf') format('truetype');
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::after,
::before {
  margin: 0;
  padding: 0;
}


.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__items {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
}

ul {
  display: flex;
  flex-direction: row;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-family: 'Oxygen';
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

li {
  color: #fff;
  font-family: 'Oxygen';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  list-style: none;
}

.promo {
  padding-top: 112px;
  padding-bottom: 157px;
  background: url(../assets/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.promo__title {
  color: #fff;
  text-align: center;
  font-family: 'Lora';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  /* 102% */
  letter-spacing: 2px;
}

.promo__subtitle {
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  font-family: 'Oxygen';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.promo__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #fff;
  text-align: center;
  font-family: 'Oxygen';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  padding: 12px 31px;
  border-radius: 3px;
  background: #dd783f;
  cursor: pointer;
}

.btn:hover {
  color: #c4b8b8;
  background: #a1592e;
}